body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 32px 0;
}

.form-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    padding-left: 16px;
    box-sizing: border-box;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-input:focus,
.form-input:active,
.form-input:focus-visible {
    border-color: #4e75ff;
    outline: none;
    color: #2e2f42;
}

.submit-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    background: #6c8cff;
}

.loader {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    gap: 24px;
    padding: 0;
    max-width: 1128px;
    width: 100%;
}

.gallery-item {
    flex: 1 1 calc((100% - 48px) / 3);
    min-width: calc((100% - 48px) / 3);
    list-style: none;
    border: 1px solid #808080;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;

}

.gallery-item img {
    display: block;
    width: 100%;
    height: 152px;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.img-info {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 23px;
    box-sizing: border-box;
}

.img-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-info-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.img-info-value {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.load-more-btn {
    display: block;
    margin: 40px auto 0;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden {
    display: none;
}